@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway"; 
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Italic";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.woff');
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Fonts */

h1, h2 {
    font-family: "Lato", serif;
    color : rgb(255, 255, 255);
    text-align: center;
}

h3 {
    font-family: "Lato", serif;
    color: rgb(23, 171, 179);
}

h4 {
    font-family: "Lato", serif;
}

p, li, .langlvl {
    font-family: "Raleway", serif;
}

.Lieu {
    font-family: "Raleway-Italic";
}

.Date {
    font-family: "Raleway", serif;
    color: rgb(23, 171, 179);
}

small {
    color: rgb(255, 255, 255);
}

header{
    height: 300px;
    
    background-color: rgb(23, 171, 179);

    display: flex;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


    


article:hover {
    
    border: 1px solid rgb(227, 227, 227);
    background-color: rgb(227, 227, 227);
    border-left: 5px solid rgb(23, 171, 179);
}


.contact-container {
    max-width: 600px;
    min-height: 200px;
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    gap: 20px;
    color : rgb(255, 255, 255);
}

.contact-items {
   
    color : rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

figure {
    padding : 50px;
   
    width : 400px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}

img:hover{
    cursor: zoom-in;
}

main {
    display: block;
}

 ul {
    list-style-type: square;
}

aside {
    width: 34%;
    padding-bottom: 40%;
    border: rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    min-height: 80%;
}

aside section {
   padding: 10%;
}

main section {
    width: 58%;
    margin: 0 30%;
    padding: 10px 20px;
    height: 80%;
}

.profile p {
    text-indent: 10%;
    text-justify: auto;
}

hr {
    border: 1px solid;
    color: rgba(227, 227, 227, 0.7);
}

.skill ul {
    list-style-type: none;
    
    text-align: left;
}

.languages ul {
    list-style-type: none;  
}

.quality ul {
    color: rgb(23, 171, 179);
}

.hobbies ul {
    color: rgb(23, 171, 179);
}

li > .noir {
    color : black;
}

.niveau {
     display: flex;
     justify-content: space-between;
}

.frflexc, .engflexc, .espflexc {
    display: flex;
    justify-content: space-between;
}
 
.fa-star {
   color : rgb(23, 171, 179);
}

body {
    width : 1160px;
    margin: 0 auto;
    height: 100%;
}

.containerF1, .containerF2, .containerF3, .containerS1, .containerS2, .containerE1, .containerE2, .containerE3  {
    display : flex;
    justify-content: space-between;
}

.formation {
    display: flex;
    flex-direction: column;    
}

.stage > article {
    padding: 20px 0;
}

.formation > article {
    padding: 20px 0;
}

.experience > article {
    padding: 20px 0;
}



i {
    vertical-align: middle;
}

aside {
    float: left;
}

main {
    float: right;
    position: absolute;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(23, 171, 179);
    background-color: rgb(23, 171, 179);
    padding : 20px 0;
 }

 .social {
     display : flex;
     flex-direction: row;
     justify-content: space-evenly;
     color: rgb(255, 255, 255);
     gap: 20px;
 }

.insta:hover, .gith:hover, .linkedin:hover {
     opacity: 0.4;
 }


 footer i {
     color: rgb(255, 255, 255);
 }



   










