@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway"; 
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Raleway-Italic";
    src: url('../fonts/Raleway-Italic-VariableFont_wght.woff');
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Fonts */

h1, h2 {
    font-family: "Lato", serif;
    color : rgb(255, 255, 255);
    text-align: center;
    
}


h3 {
    font-family: "Lato", serif;
    color: rgb(23, 171, 179);
}

h4 {
    font-family: "Lato", serif;
}

p {
    font-family: "Raleway", serif;
}

li  {
    font-family: "Raleway", serif;   
}

.Lieu {
    font-family: "Raleway-Italic";
}
.Date {
    font-family: "Raleway", serif;
    color: rgb(23, 171, 179);
    text-align: right;
   
}

small {
    color: rgb(255, 255, 255);
}

header{
    height: 300px;
    
    background-color: rgb(23, 171, 179);

    display: flex;
    

}




.contact-container {

    
    max-width: 600px;
    min-height: 200px;
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
    gap: 20px;
    color : rgb(255, 255, 255);
   
    
    
}

.contact-items {
    /* width: 200px; */
    color : rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
   

}




figure {
    padding : 50px;
    /* display : flex; */
    width : 400px;
}

img{
    
    /* justify-content: center;
    align-items: center; */
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    
}







main, aside {
    display: block;
}

 ul {
    list-style-type: square;
}

aside {
    
    width: 30%;
    padding-bottom: 20%;
    float: left;
    border: rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    min-height: 80%;
  
}

aside section {
   
  padding: 10%;
}




main section {
    width: 60%;
    max-width: 60%;
    margin: 0 30%;
    padding: 20px 0;
    
}


    

hr {
    border: 1px solid;
    color: rgba(227, 227, 227, 0.7);
    
}

.skill ul {
    list-style-type: none;
    
    text-align: left;
}

.languages ul {
    list-style-type: none;  
}

.quality ul {
    color: rgb(23, 171, 179);
}

.hobbies ul {
    color: rgb(23, 171, 179);
}

li > .noir {
    color : black;
}



    
    


.fa-star {
   
    
    color : rgb(23, 171, 179);
    
}

.niveau {
    display : inline-block;
}





body {
    margin: 100px;
    height: 100%;
    background-clip: rgb(227, 227, 227);
    
    
   
}





.formation {
    display: flex
}




i {
    vertical-align: middle;
}

aside {
    float: left;
}

main {
    float: right;
    position: absolute;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(23, 171, 179);
    background-color: rgb(23, 171, 179);
    padding : 30px 0;
 }

 #social {
     display : flex;
     flex-direction: row;
     justify-content: space-evenly;
     color: rgb(255, 255, 255);
 }

 footer i {
     color: rgb(255, 255, 255);
 }



   










